
.sidebar {
    width: 245px;
    height: 100vh;
    background-color: #1d6f72;
    border-right: 1px solid rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    padding: 25px 15px 40px 15px; 
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}


.logo-area {
    margin-bottom: 35px;
    padding-left: 10px;
}


.logo-menu {
    width: 140px;
    height: auto;
    display: block;
    

}


.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.nav-links li {
    margin-bottom: 8px;
}

.nav-links a, .menu-footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.2s ease;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.nav-links a:hover, .menu-footer a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-links a.active {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 700;
}

.menu-footer {
    margin-bottom: 20px; 
}

.icon {
    margin-right: 16px;
    font-size: 22px;
    width: 24px;
    text-align: center;
}