<nav class="sidebar">
    <div class="logo-area">
        <img src="logo_sem fundo.png" alt="Logo Viajaí" class="logo-menu">
    </div>

    <ul class="nav-links">
        <li>
            <a routerLink="/home" routerLinkActive="active">
                <img src="home.jpeg" class="icon" alt="Início">
                <span class="text">Página inicial</span>
            </a>
        </li>
        <li>
            <a routerLink="/pesquisa" routerLinkActive="active">
                <img src="assets/search.png" class="icon" alt="Pesquisa">
                <span class="text">Pesquisa</span>
            </a>
        </li>
        <li>
            <a routerLink="/explorar" routerLinkActive="active">
                <img src="assets/explore.png" class="icon" alt="Explorar">
                <span class="text">Explorar</span>
            </a>
        </li>
        <li>
            <a routerLink="/mensagens" routerLinkActive="active">
                <img src="assets/message.png" class="icon" alt="Mensagens">
                <span class="text">Mensagens</span>
            </a>
        </li>
        <li>
            <a routerLink="/notificacoes" routerLinkActive="active">
                <img src="assets/heart.png" class="icon" alt="Notificações">
                <span class="text">Notificações</span>
            </a>
        </li>
        
        <li>
            <a class="criar-item" (click)="abrirModal()" style="cursor: pointer;">
                <img src="assets/plus.png" class="icon" alt="Criar">
                <span class="text">Criar</span>
            </a>
        </li>

        <li>
            <a routerLink="/perfil" routerLinkActive="active">
                <img src="assets/profile.png" class="icon" alt="Perfil">
                <span class="text">Perfil</span>
            </a>
        </li>
    </ul>

    <div class="menu-footer">
        <a routerLink="/mais">
            <img src="assets/menu.png" class="icon" alt="Mais">
            <span class="text">Mais</span>
        </a>
    </div>

    <app-modal-criar-post 
        *ngIf="mostrarModal" 
        (fechar)="fecharModal()">
    </app-modal-criar-post>

</nav>