<div class="overlay" (click)="fecharModal()">
    
    <div class="modal-box" (click)="$event.stopPropagation()">
        
        <div class="modal-header">
            <h3>Criar postagem</h3>
            <button class="btn-fechar" (click)="fecharModal()">✕</button>
        </div>

        <div class="modal-body">
            <div class="upload-area">
                
                <div class="icon-midia">
                    <img src="postar_foto.png" alt="Ícone de mídia">
                </div>
                
                <h3 class="texto-instrucao">Insira aqui suas fotos e vídeos</h3>
                
                <input 
                    type="file" 
                    #fileInput 
                    style="display: none" 
                    (change)="aoSelecionarArquivo($event)"
                    accept="image/*,video/*"> 
                
                <button class="btn-selecionar" (click)="fileInput.click()">
                    Escolher do dispositivo
                </button>

            </div>
        </div>

    </div>
</div>