body {
  margin: 0;
  padding: 0;
  background: #0f0f14; /* fundo escuro externo */
  font-family: Arial, sans-serif;
}

.home-container {
  width: 75%;
  max-width: 1200px;
  background: #ffffff;
  margin: 40px auto;
  padding: 40px 40px 70px;
  border-radius: 8px;
}

.logo {
  width: 120px;      
  height: auto;      
  position: 100px;
  top: 30px;         
  left: 0;              
}

.botao {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.botao button {
  padding: 10px 25px;
  font-size: 18px;
  border: none;
  background: #4eb7b0; 
  color: #003d3a;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.imagem {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 30px;
}

.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
}

.textos {
  flex: 1;  
  max-width: 40%;
}

.titulo {
  font-size: 32px;
  font-weight: 700;
  color: #1b425d;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}

.texto {
  font-size: 15px;
  color: #777;
  margin-top: 15px;
  line-height: 1.5;
  text-align: left;
  max-width: 400px;
}

.galeria {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.galeria-item {
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.galeria-item img {
  width: 180px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}